<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.test.Test_createcustomer"/>
      <class name="com.actitime.test.Test_deleteLeave"/>
      <class name="com.actitime.test.Test_login"/>
      <class name="com.actitime.test.Test_editwork"/>
      <class name="com.actitime.test.Test_deletework"/>
      <class name="com.actitime.test.Test_createLeave"/>
      <class name="com.actitime.test.Test_editLeave"/>
      <class name="com.actitime.test.test_random"/>
      <class name="com.actitime.test.Test_deletecustomer"/>
      <class name="com.actitime.test.Test_creatework"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
